<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="container">
    <div class="row mt-5">
        <h1>Home Page</h1>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos error quaerat dolorem temporibus! Corrupti aliquid vero esse ducimus! Pariatur, sed inventore! Consequatur nobis facilis, debitis beatae iusto corrupti quam tempore reprehenderit culpa voluptates a at eaque fuga temporibus error dolorem ab saepe aperiam, minus minima dolorum magnam. Accusamus, velit at?</p>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
